/lab11/digital-signature/certificate.pem
/lab11/digital-signature/csr.pem
/lab11/digital-signature/signature.bin
/lab11/digital-signature/certificate.pfx
/lab11/digital-signature/example-key.pem
/lab11/digital-signature/input.txt
